.carrossel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper {
    width: 50vw;
    height: 50vh;
    justify-content: space-evenly;
    background-color: rgba(201, 219, 230, 0.7);
    border-radius: 10px;
    box-shadow: 100px white;
}

.swiper-wrapper,.swiper-slide,.swiper-slide-active,.swiper {
    margin: 0;
    padding: 0;
}

.swiper-button-prev, .swiper-button-next{
position: absolute;
background: transparent;
width: 4px;
}

.swiper-button-prev{left:0}
.swiper-button-next{right: 0;}

.swiper-scrollbar{
    display: none;
}

.swiper-slide{
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90%;
    grid-gap: 10px;
}

.swiper-slide img{
    max-width: 90%;
    max-height: 100%;
}

.swiper-descricao{
    font-size: 3rem;
    padding: 0 5rem 0 2rem;
}

.swiper-pagination{
    background: transparent;
}

.botao{
    width: 40vw;
    background-color: darkslategray;
    border-style: none;
    border-radius: 10px;
    color: antiquewhite;
}

.botao:hover{
    cursor: pointer;
    background-color: rgb(56, 102, 102);
}

.botao:active{
    background-color: rgb(72, 139, 139);
}

h3{
    text-align: center;
    font-family:'Montserrat';
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration-style: wavy;
    font-weight: 600;
    font-style: normal;
}

@media screen and (max-width: 800px) {
    
    .swiper {
        width: 90vw;
        height: 80vh;
    }

    .swiper-slide{
        grid-template-columns: 90%;
        grid-template-rows: 65% 35%;
        place-content: center;
        place-items: center;
    }

    .swiper-slide img{
        max-width: 90%;
        max-height: 80%;
        padding: 0;
        margin: 0;
        align-self: center;
    }
    
    .swiper-descricao{
        font-size: 3rem;
        padding: 0;
        text-align:center;
        align-self: flex-start;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .botao{
        width: 90vw;
        background-color: aquamarine;
    }

    h3{
        color: black;
        font-size: 1rem;
        font-weight: 300;
    }
}