@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(carrossel.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat&family=Roboto+Mono:wght@700&family=Ysabeau:ital,wght@0,300;0,500;1,100;1,300&display=swap');


body{
  background-image: url(assets/eiffel-noite.jpg);
  background-size: cover;
  /*  color: rgb(207, 183, 155);*/
  color: rgb(17, 16, 27);
  font-family: 'Ysabeau', sans-serif;
  font-weight: 100;
  font-style: italic;
  background-position: center;
}

@media screen and (max-width: 800px) {
  body{
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
  }
}